
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

 
  .form{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    width:800px;
    margin-left: 350px;
    padding-bottom: 25px;
    color: black;
  }
  
  .form-group
  {
    padding: 15px;
  }
  



