.carousel-inner
{
    height: 600px;
}

.container{
    
    margin-right: 150px;
    
}



* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 31%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    width: 350px;
    text-align: center;
    background-color: white;
    margin-left: 90px;
    
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

 
  h2{
    text-align: center;
  }
 
 .btn
 {
   margin:10px;
   width: 120px;
   
 }
 .card
 {
   border: none;
 }

 .row-cards img{
   border-radius: 3%;
   width: 450px;
 }

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  margin-right: 0px;
}

.carousel-inner
{
    height: 600px;
}

.container{
    
    margin-right: 150px;
    
}



* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 31%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    width: 350px;
    text-align: center;
    background-color: white;
    margin-left: 90px;
    
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

 
   h2{
    text-align: center;
  }
 
 .btn
 {
   margin:10px;
   width: 120px;
   
 }
 

 .row-cards img{
   border-radius: 50%;
   width: 250px;
   height: 200px;
   margin-left: 170px;
   margin-top: 30px;
 }

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  margin-right: 0px;
}


h4{
  text-align: justify;

}

h6{
  text-align: justify;
}

#vv .card{
  border-radius: 5%;
}

 



 