

<br>
<br>
<div class="container">
  <h1><i>About Us</i></h1>
  <hr>
  <p style="text-align:justify;">To purify the cells and atoms of your body, a spiritual health technique is to visualize a stream of yellow light passing through and washing every cell of your heart. All toxic accumulations are removed as each cell receives the currents of healing light from the Heart of Alpha and Omega in the Great Central Sun that you call forth.

    One of the greatest gifts of identity, which the conscious mind little dreams of, is our latent ability to realize the image of the eye. This science of the immaculate concept is practiced by every angel in heaven.</p>
    
    <br>
    <br>

      <div class="row row-cards" id="c">
           <div class="col-md-6 col-lg-3" id="a">
               <div class="card h-100" id="c1">
           <div class="card-body" id="cb">
             <div class="mb-4 text-center">
               <img src="assets/New folder/med.jpg" id="pic"  alt="picture" class="img-fluid">
             </div>
            <h2><strong>Meditation Room</strong></h2> 
            <hr>
            <p>The goal of meditation is to go beyond the mind and experience our essential nature</p>
             
             </div>
            
              
               
             
           </div>
         </div>

         <div class="col-md-6 col-lg-3" id="a">
           
            <div class="card h-100" id="c1">
              
              <div class="card-body" id="cb">
                <div class="mb-4 text-center">
                  <img src="assets/New folder/wis.jpg" id="pic"  alt="picture" class="img-fluid">
                </div>
                <h2><strong>Wisdom Hall</strong></h2>
                <br>
                <hr>
                <p >When people come together and commit to “The Wisdom in The Room” process very good things happen.</p>
                </div>
                
              </div>
            </div>
            <div class="col-md-6 col-lg-3" id="a">
                
                <div class="card h-100" id="c1">
                  <div class="card-body" id="cb">
                    <div class="mb-4 text-center">
                      <img src="assets/New folder/res1.jpg" id="pic"  alt="picture" class="img-fluid">
                    </div>
                   <h2><strong>Research Lab</strong></h2>
                   <br>
                   <hr>
                   <p >A unique lab exploring the psychological aspects of religion and spirituality.</p>
                    </div>
                   
                  </div>
                </div>
                <div class="col-md-6 col-lg-3" id="a">
                  
                   
                    <div class="card h-100 " id="c1">
                      <div class="card-body" id="cb">
                        <div class="mb-4 text-center">
                          <img src="assets/New folder/lib.jpg" id="pic"  alt="picture" class="img-fluid">
                        </div>
                        <h2> <strong>Library</strong></h2>
                    
                        <br>
                        <hr>
                        <p >Spiritual Library is an inspiring  library with thousands of spiritual articles, books and lots more.</p>
                        </div>
                       
                      </div> 
                    </div>
         </div>
        <br>

         
        <br>
        <br>


        
        
        <h2 class="head">Meditation Room</h2>
        <hr>

        <div class="d-flex1 p-2 justify-content-lg-end">
            <div class="row">
            <div class="col-md-3">
            <img src="assets/New folder/medroom.jpg" alt="Meditation Room ">
           </div>
            <div class="col-md-9">
                <br>
          
            <p>The goal of meditation is to go beyond the mind and experience our essential nature—which is described as peace, happiness, and bliss. But as anyone who has tried to meditate knows, the mind itself is the biggest obstacle standing between ourselves and this awareness.Meditation is a practice where an individual uses a technique – such as mindfulness, or focusing their mind on a particular object, thought or activity – to train attention and awareness, and achieve a mentally clear and emotionally calm and stable state.</p>
            
           </div>
            </div>
        </div>

<br>
<br>
<h2 class="head">Wisdom Hall</h2>
<hr>
        <div class="d-flex1 p-2 justify-content-lg-end ">
            <div class="row">
            <div class="col-md-10">
                <br>
            
                <p>When people come together and commit to “The Wisdom in The Room” process very good things happen.The Hall of Wisdom-Realization, expansion of consciousness, and identification with the spiritual self.When we begin the self-inquiry and examination process by asking the deep questions of ourselves, it marks the period in the life of a person entering the search for the knowledge of the self and soul. At the entering of the “The Hall Of Learning” we begin to ascertain our character development, assessing our weaknesses and contemplating what we want to achieve in our lifetime.</p>
          
           </div>
            <div class="col-md-2">
                
                <img src="assets/New folder/meroom.jpg" alt="Meditation Room ">
           </div>
            </div>
        </div>
<br>
<br>
        <h2 class="head">Research Lab</h2>
        <hr>

        <div class="d-flex1 p-2 justify-content-lg-end">
            <div class="row">
            <div class="col-md-3">
            <img src="assets/New folder/resroom.jpg" alt="Meditation Room ">
           </div>
            <div class="col-md-9">
                <br>
            
            <p>A unique lab exploring the psychological aspects of religion and spirituality.Leaders in spiritual research, bridging the known & unknown (spiritual) world. Dedicated to the spiritual progress of every person and society as a whole.The spiritual research method is far superior to the modern scientific method in ... It is not conducted outside the self i.e. in a laboratory or field trials in society.
              </p>
            
           </div>
            </div>
        </div>
        <br>
        <br>
        <h2 class="head" id='lib'>Library</h2>
        <hr>

        <div class="d-flex1 p-2 justify-content-lg-end " >
            <div class="row" >
            <div class="col-md-10">
                <br>
            
                <p >Spiritual Library is an inspiring  library with thousands of spiritual articles, books and lots more.Spirit Library is the virtual library for empowerment and inspiration full of articles, channelings, books, videos, and other spiritual information. A library of book excerpts focused on personal and spiritual growth, psychology, and the world's religions.</p>
            
           </div>
            <div class="col-md-2">
               
                <img src="assets/New folder/libroom.jpg" alt="Meditation Room ">
           </div>
            </div>
        </div>
        
</div>