body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  footer{
    padding-bottom: 0px;
    background-color: rgb(56, 61, 57); 
  }

  .form{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    width:800px;
    margin-left: 350px;
    padding-bottom: 25px;
    
  }
  
  .form-group
  {
    padding-left: 15px;
  }
  



