<br>
<br>
<div class="container">
<h1>Meditation</h1>
<br>

<div class="jumbotron jumbotron-fluid" style="background-image:url('assets/New folder/medi.jpg');background-size: cover;" >
   
  </div>
  <br>
<p style="text-align:justify;">Imagine yourself as a capable, empowered, successful and happy soul.

  Imagine being aware of each thought and reaction that comes to mind - and then ruling it. Within a nanosecond, you claim the power to act on the idea or ditch it. 
  
  Consider the negative traits in your personality that you wish would not play out: the thoughts of self-doubt, sabotage, low self-regard, guilt, worry etc. At your will, they will never again be spoken by you or affect your relationships at home, at work or on the sports field.
  
  Some might baulk at being so ‘in control' of themselves. But if you really ‘get' soul, you can ‘get in control' of yourself. Just yourself. Other people's lives and games are their own. 
  
  You are only responsible for yourself. Our mums and dads did what they did - sometimes well, sometimes not - but that time has passed, and you are now the independent soul, who can choose how to live. 
  
  With Raja Yoga meditation you can throw off the old patterns of influence and recreate yourself to be how you want to be. That is the power of Raja Yoga. </p>
</div>

